
/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/
.navbar{
    --bs-navbar-color: #f8f9fa;
    --bs-navbar-active-color: #f8f9fa;
    --bs-navbar-brand-color: #f8f9fa;
    --bs-navbar-brand-padding-y: 0.3125rem;
}
